div {
    border-style: outset;
    border-width: 5px; 
    border-color: springgreen;
/*    padding: 30px;*/
}

.container {
    border-color: aqua; 
}

.row {
    border-color: crimson;
}

.list-group-item{
    border: 0;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 3opx;
    margin-bottom: 30px;
}

.uppercase{
    text-transform: uppercase;
    font-size: 42px;
}

body{
    font-family: cursive;
    background-image: url('http://i826.photobucket.com/albums/zz186/willisnowell/Gifs/fireworks2_zps1e2a81de.gif');
    background-size-cover:40px;
}

#current-link{
    text-decoration-color: pink;
}

nav a{
    color: darkturquoise;
   
}